/* Font-Family */
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #eaeced;
}

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #03373d;
  --color-primary-content: #1f1f1f;

  --color-secondary: #606060;
  --color-secondary-content: #dadada;

  --color-accent: #caeb66;
  --color-accent-content: #33929d;
}

/*//* COMMON STYLES */
h1,h2,h3,h4,h5,h6 {
  @apply text-primary
}

p, a {
  @apply text-secondary
}

a {
  @apply hover:text-primary-content hover:bg-transparent
}

.btn-white {
  @apply py-6 text-[16px] font-bold bg-white  border-secondary shadow-none rounded-xl transition-all duration-300 ease-linear hover:text-primary-content hover:bg-accent hover:border-accent
}
.btn-accent {
  @apply py-6 text-[16px] font-bold bg-accent text-primary-content border-accent shadow-none rounded-xl transition-colors duration-300 ease-linear hover:text-secondary hover:bg-white
}

/*//* FOOTER */
.footer-logo span {
  @apply text-white;
}